<!DOCTYPE html>
<html>
    {% import "macros.html" as macros %}
    {{ macros.head(config.site) }}
    <body>
        <div class="content">
            {{ macros.header(config.site)}}
            <main class="list">
                <section class="list-item">
                    {% for note in content.notes %}
                        <h1 class="title"><a href="{{ note.url }}">{{ note.title }}</a></h1>
                        <br>
                    {% endfor %}
                </section>
            </main>
            {{ macros.footer(config) }}
        </div>
    </body>
</html>